*{
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
}
head{
    display: flex;
}
body {
    background:  linear-gradient(to bottom, #030914 0%, #080e30 100%) no-repeat ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.video_media{
    width: 100%;
}
.video_bg{
    opacity: 0.7;
}

header{
    width: 100%;
    max-height: 100vh;
    position: absolute;

}
.title{
    padding: 50px 20px;
    text-align: center;
}
.title h1{
    font-family: 'Comfortaa', cursive;
    position: relative;
    color: #ffbf50;
    font-size: 3em;
    line-height: 1;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
    text-shadow:
            0 0 5px #000000,
            0 0 7px #ffbf50,
            0 0 3px #ffffff,
            0 0 10px #ffbf50;

}
.title h1 .span1{
    animation: neon-1 linear infinite 3s;
}

.title h1 .span2{
    animation: neon-5 linear infinite 3s;
}
@keyframes neon-1 {
    58% {
        color: inherit;
        text-shadow: inherit;
    }
    59%{
        color: #0b3960;
    }
    60% {
        text-shadow: none;
    }
    61% {
        color: inherit;
        text-shadow: inherit;
    }
    62% {
        color: #0b3960;
        text-shadow: none;
    }
    63% {
        color: inherit;
        text-shadow: inherit;
    }
    72% {
        color: #0b3960;
        text-shadow: none;
    }
    72.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

@keyframes neon-5 {
    80% {
        color: inherit;
        text-shadow: inherit;
    }
    81%{
        color: #0b3960;
    }
    82% {
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    84% {
        color: #0b3960;
        text-shadow: none;
    }
    85% {
        color: inherit;
        text-shadow: inherit;
    }
    94% {
        color: #0b3960;
        text-shadow: none;
    }
    94.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

.title h1::before{
    content: "";
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 200%;
    border-radius: 50%/20%;
    border: 6px solid #ffbf50;
    border-left-color: transparent;
    border-right-color: transparent;
}
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
}

nav {
    backface-visibility: hidden;
    background: rgb(3, 9, 22);

}
nav a {
    display: inline-block;
    float: left;
    text-align: center;
    width: calc(100%/4);
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    line-height: 100px;
    padding: 0 30px;
    font-weight: bold;
    color: #5d849f;
    text-transform: uppercase;
    animation: 2s neon-2 alternate-reverse infinite linear;
    text-decoration: none;
}

nav a:hover, nav a:focus { color: #fdbd50; }

@keyframes neon-2 {
    from {
        text-shadow:
                0 0 5px #000000,
                0 0 7px #003cff,
                0 0 3px #ffffff,
                0 0 1px #003cff;
    }
    to {
        text-shadow:
                0 0 10px #000000,
                0 0 12px #003cff,
                0 0 8px #ffffff,
                0 0 6px #003cff;
    }
}

.contain{
    position: absolute;
    display: flex;
    top: 30%;
    height: 50vh;
    width: 100%;
    flex-direction: row;

}

.rate-box1{
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.name{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5d849f;

}
.rate-name{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-weight: bold;
    color: #5d849f;
    text-transform: uppercase;
    animation: 2s neon-2 alternate-reverse infinite linear;
}
.num{
    position: absolute;
    top: 50%;
    right: 10px;
    text-transform: uppercase;
    animation: 2s neon-2 alternate-reverse infinite linear;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 20px;

}
.ratebox{
    height: calc(93%/5);
    width: 100%;
    border-top-left-radius: 15% 50px;
    border-bottom-right-radius: 15% 50px;
    background-color: rgba(0, 0, 0, 0.32);
    color: #5d849f;
    display: flex;
    flex-direction: column;
}
.naming{
    display: flex;
    width: 70%;
    height: 40%;
    transform: translate(20%);
    justify-content: center;
    align-items: center;
}
.filler{
    border: 1px solid rgba(193, 138, 246, 0.73);
    border-radius: 10px;
    width: 70%;
    height: 25%;
    transform: translate(20%, 50%);
}
.filler:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(48, 128, 75, 0.85);
    border-radius: 10px;
    transition: width 3s ease;
}

body:hover .filler:before{
    width: 100%;
}

body:hover .ratebox:nth-child(3) .filler:before  {width: 86.9%;}
body:hover .ratebox:nth-child(4) .filler:before  {width: 76.08%;}
body:hover .ratebox:nth-child(5) .filler:before  {width: 73.67%;}
body:hover .ratebox:nth-child(6) .filler:before  {width: 69.98%;}

body:hover .rate-box1:nth-child(2)>.ratebox:nth-child(3) .filler:before  {width: 99.16%;}
body:hover .rate-box1:nth-child(2)>.ratebox:nth-child(4) .filler:before  {width: 59.30%;}
body:hover .rate-box1:nth-child(2)>.ratebox:nth-child(5) .filler:before  {width: 51.66%;}
body:hover .rate-box1:nth-child(2)>.ratebox:nth-child(6) .filler:before  {width: 46.59%;}

@media(max-width: 1300px){
    html{
        height: 150%;
    }
    body{
        min-height: 150vh;
    }
    .video_bg {
        overflow: hidden;
        height: 150vh;
    }

    .video_media {
        position: relative;
        min-height: 150%;
        left: 50%;
        width: 400vw;
        transform: translate(-50%);
    }
    nav{
        position: relative;
        z-index: 100;
        color: #5D849FFF;
        background: white;
        backface-visibility: visible;
    }
    .contain{
        flex-direction: column;
        z-index: 1;
        gap: 30px;
        height: auto;
        width: 100%;
        padding-left: 9%;
    }
    .name{
        height: 75px;
    }
    .rate-box1{
        width: 90%;
        background-color: rgba(0, 0, 0, 0.32);
        border-radius: 50px 50px;
    }
    .ratebox{
        display: flex;
        height: 75px;
        justify-content: center;
    }
    .naming{
        font-size: 12px;
        justify-content: left;
    }
    .naming>a{
        font-size: 12px;
    }
    .rate-box1:nth-child(1)>.ratebox:nth-child(n+2):nth-child(-n+5){
        border-radius: 0 0 0 0;
    }
    .rate-box1:nth-child(2)>.ratebox:nth-child(n+2):nth-child(-n+5){
        border-radius: 0 0 0 0;
    }
    .rate-box1:nth-child(1)>.ratebox:nth-child(6){
        border-bottom-left-radius: 50px 50px;
        border-top-left-radius: 0 0;
        border-bottom-right-radius: 50px 50px;
    }
    .rate-box1:nth-child(2)>.ratebox:nth-child(6){
        border-bottom-left-radius: 50px 50px;
        border-top-left-radius: 0 0;
        border-bottom-right-radius: 50px 50px;
    }
}

@media(max-width: 500px){
    header{
        height: 20%;
    }

}