.form_button:hover::after{
    animation: clippath 3s infinite -1.5s linear;
}

@keyframes clippath{
    0%,
    100%{
        clip-path: inset(0 0 98% 0);
    }
    25%{
        clip-path: inset(0 98% 0 0);
    }
    50%{
        clip-path: inset(98% 0 0 0);
    }
    75%{
        clip-path: inset(0 0 0 98%);
    }
}
#menu-checkbox{
    display: none;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('http://webmastermix.ru/files/demo/creation-site/raznoe/knopka-vverh/icon_top.png') no-repeat;
    transition: 0.1s;
}
.scrollup:hover{
    opacity: 0.7;
    transition: 0.3s;
}