nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .4s ease-in-out;
}
.topmenu {
    backface-visibility: hidden;
    background: rgb(3, 9, 22);

}
.topmenu > li {
    display: inline-block;
    position: relative;
    float: left;
    text-align: center;
    width: calc(100%/4);
}
.topmenu > li > a {
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    text-align: center;
    line-height: 100px;
    padding: 0 30px;
    font-weight: bold;
    color: #5d849f;
    text-transform: uppercase;
    text-decoration: none;
    animation: 2s neon-2 alternate-reverse infinite linear;;

}

.topmenu li a:hover, .topmenu li a:focus { color: #fdbd50; }

@keyframes neon-2 {
    from {
        text-shadow:
                0 0 5px #000000,
                0 0 7px #003cff,
                0 0 3px #ffffff,
                0 0 1px #003cff;
    }
    to {
        text-shadow:
                0 0 10px #000000,
                0 0 12px #003cff,
                0 0 8px #ffffff,
                0 0 6px #003cff;
    }
}
