
nav {
    backface-visibility: hidden;
    background: rgb(3, 9, 22);

}
nav a {
    display: inline-block;
    float: left;
    text-align: center;
    width: calc(100%/4);
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    line-height: 100px;
    padding: 0 30px;
    font-weight: bold;
    color: #1769a1;
    text-transform: uppercase;
    animation: 2s neon-2 alternate-reverse infinite linear;
    text-decoration: none;
}

nav a:hover, nav a:focus { color: #fdbd50; }

@keyframes neon-2 {
    from {
        text-shadow:
                0 0 5px #000000,
                0 0 7px #003cff,
                0 0 3px #ffffff,
                0 0 1px #003cff;
    }
    to {
        text-shadow:
                0 0 10px #000000,
                0 0 12px #003cff,
                0 0 8px #ffffff,
                0 0 6px #003cff;
    }
}
