*{
    box-sizing: border-box;
}

html, body{
    margin-top: 0;
    margin-bottom: 0;
}
head{
    display: flex;
}

body {
    background:  linear-gradient(to bottom, #030914 0%, #080e30 100%) no-repeat ;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 0px);
}
.video_media{
    width: 100%;
}
.video_bg{
    opacity: 0.7;
}


header{
	width: 100%;
    max-height: 100vh;
    position: absolute;
	
}
.title{
	padding: 50px 20px;
	text-align: center;
}
.title h1{
    font-family: 'Comfortaa', cursive;
    position: relative;
    color: #ffbf50;
    font-size: 3em;
    line-height: 1;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
    text-shadow:
            0 0 5px #000000,
            0 0 7px #ffbf50,
            0 0 3px #ffffff,
            0 0 10px #ffbf50;
}
.title h1::before{
    content: "";
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 200%;
    border-radius: 50%/20%;
    border: 6px solid #ffbf50;
    border-left-color: transparent;
    border-right-color: transparent;
}
.logo{
	position: absolute;
	top: 10px;
	left: 10px;
}
aside{
	text-align: right;
}

.wrapper{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
#head{
    position: relative;
}
#form{
    position: absolute;
}
.form_button{
    color: #5D849FFF;
    padding: 10px 50px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    border-radius: 10px;
    background: #ffbf50;
    outline: none;
    cursor: pointer;
    top: 15px;
    right: 15px;
    transition: all 0.3s;
    position: relative;
    margin:auto;
    border: 2px solid #ffbf50;
    text-shadow:
            0 0 5px #000000,
            0 0 7px #ffbf50,
            0 0 3px #ffffff,
            0 0 10px #ffbf50;
}
.form_button:hover {
    background-color: rgba(255, 191, 240, 0.7);
    filter: contrast(1.1)
}
.form_button:active{
    filter: contrast(0.9)
}

.form_button:hover::before, .form_button:hover::after{
    content: "";
    border: 2px solid #0071f0;
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    transition: all .5s;
    animation: clippath 3s infinite linear;
    border-radius: 10px;
}



#extra{
    position: absolute;
}
.extra{
    color: #5D849FFF;
    padding: 10px 50px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    border-radius: 10px;
    background: #ffbf50;
    outline: none;
    cursor: pointer;
    top: 75px;
    right: 15px;
    transition: all 0.3s;
    position: relative;
    margin:auto;
    border: 2px solid #ffbf50;
    text-shadow:
            0 0 5px #000000,
            0 0 7px #ffbf50,
            0 0 3px #ffffff,
            0 0 10px #ffbf50;
}
@keyframes notif {
    50%{transform: scale(1.1, 1.1)}
    100%{transform: scale(0.9, 0.9)}
}



